@model IEnumerable<Shopping.Database.Model.Commodity>

@{
    if (Model.Count() == 0)
    {
        <h1>محصولی برای این دسته بندی وجود ندارد</h1>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    @* <th>
            @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
            @Html.DisplayNameFor(model => model.CommodityId)
            </th> *@
                    <th>
                        @Html.DisplayNameFor(model => model.ProductEnName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CommodityAlbums)
                    </th>
                    @* <th></th>*@
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        @*<td>
            @Html.DisplayFor(modelItem => item.Id)
            </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductEnName)
                        </td>
                        <td>
                            @* @Html.DisplayFor(modelItem => item.CommodityImg) *@
                            @{
                                if (item.CommodityAlbums.Count() == 0)
                                {
                                    <h6>عکسی برای محصول وجود ندارد</h6>
                                }
                                else
                                {
                                    var image = item.CommodityAlbums.FirstOrDefault(c => c.CommodityId == item.Id).CommodityImg;
                                    <img src="~/Images/commodity/@image " width="100">
                                }
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
}

