@model IEnumerable<Shopping.Database.Model.CommodityAlbum>

@{

    
    <table class="table">
        <thead>
            <tr>
                @* <th>
            @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
            @Html.DisplayNameFor(model => model.CommodityId)
            </th> *@
                <th>
                    @Html.DisplayNameFor(model => model.CommodityImg)
                </th>
                @* <th></th>*@
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @*  <td>
            @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.CommodityId)
            </td> *@
                    <td>
                        @* @Html.DisplayFor(modelItem => item.CommodityImg) *@
                        <img src="~/Images/commodity/CommodityAlbum/@item.CommodityImg " width="210">
                    </td>

                </tr>
            }
        </tbody>
    </table>
}